{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 39.96477026195103,
    "longitude": -75.14407038688661,
    "elevation": 0,
    "unit_system": "imperial",
    "location_name": "841 N 4th",
    "time_zone": "America/New_York",
    "external_url": null,
    "internal_url": null,
    "unit_system_v2": "us_customary",
    "language": "en"
  }
}