# Individual File Ignores
.HA_VERSION
home-assistant_v2.db
home-assistant.log
pyozw.sqlite
secrets.yaml
.storage/auth
.storage/core.config_entries
.storage/core.device_registry
.storage/core.restore_state

# Group Ignores
# .storage