# Individual File Ignores
.HA_VERSION
home-assistant_v2.db*
home-assistant.log
pyozw.sqlite
secrets.yaml
.storage/**/*
# .storage/core.config*
# .storage/core.device_registry
# .storage/core.entity_registry
# .storage/mobile_app
# .storage/core.restore_state
tts/*.mp3
* copy*.*

# Group Ignores
# .storage
